@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:ital@0;1&family=Righteous&family=Secular+One&display=swap');

.fo{
    font-family: 'Fredoka One', cursive;

    font-family: 'Poppins', sans-serif;

    font-family: 'Righteous', cursive;

    font-family: 'Secular One', sans-serif;
}
.f1{
    color:red;
}